* {
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: auto;
}

/* header */
header h1 {
  font-family: "Inconsolata";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -0.08em;
  line-height: 25px;
  color: #333333;
  text-transform: uppercase;

  margin-top: 20px;
}

/* hero image */
.hero {
  margin-top: 64px;
  text-align: center;
}
.hero img {
  width: 88%;
}

/* text */
.text {
  margin-top: 70px;
  margin-bottom: 70px;
}
.text h2 {
  color: #333333;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;

  margin-bottom: 30px;
}

.text p {
  color: #4f4f4f;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  width: 90%;
}

/* link */
a.link-homepage {
  color: #ffff;
  font-family: Space Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;

  text-decoration: none;

  background-color: #333333;
  padding: 24px 43px;
}

a.link-homepage:hover {
  cursor: pointer;
}

/* footer */
.footer p {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;

  color: #333333;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
}
